:root {
    --scroll-progress-color: lime;
    --scroll: 0;
}

.scroll-progress {
    min-height: 10px;
    /* width: var(--scroll); */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--scroll-progress-color)
}
