:root {
    --scroll-progress-color: rgb(0, 255, 247);
    --scroll: 0;
}

.scroll-position {
    min-height: 10px;
    width: var(--scroll);
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--scroll-progress-color)
}
